/*Font de Archive Para Info*/
@font-face {
  font-family: "f-archive";
  src: url("../fonts/Archivo-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Font de Bebas Neue Para Titulos*/
@font-face {
  font-family: "f-bebas";
  src: url("../fonts/bebasneue/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "f-archive", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  /* Definimos el degradado una sola vez para que sea fácil de cambiar*/
  --bg-gradient: linear-gradient(135deg, #f8d877, #eb9c70, #df636a, #d32563);

  --fs-titulo: 8.75rem;
  --fs-titulo-punto: 6.75rem;
  --fs-texto-portada: 1.5rem; /**/
  --fs-botones-portada: 0.875rem;

  --fs-parrafos: 1rem;
  --fs-botones: 2.5rem;
  --fs-botones-hover: 0.975rem;
}

/*Estilos Generales*/
div.imagen img {
  display: block;
  width: 100%;
  object-fit: cover;
}

div.seccion {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 30px 30px;
  gap: 20px 0px;
}

div.seccion h4,
div.seccion h3 {
  font-family: "f-bebas", sans-serif;
  font-size: var(--fs-titulo);
  font-weight: bold;
}
div.seccion p {
  font-size: var(--fs-parrafos);
  line-height: 1.5;
  max-width: 600px;
}

h3.punto::after {
  content: ".";
  margin: 0px 10px;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
}
