/*Boton de Menu*/
.seccion-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.seccion-botones > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #111;
}
.seccion-botones div a {
  color: black;
  background: linear-gradient(white);
  width: 300px;
  height: 55px;
  text-align: center;
  border-radius: 100px;
  font-family: "f-bebas";
  font-size: 3rem;
  padding: 5px 24px;
  text-decoration: none;
  transition:
    all 0.3s ease,
    background-color 0.5s;
}
.seccion-botones div a:hover {
  transform: scale(1.1);
  background: linear-gradient(30deg, #f8d877, #eb9c70, #df636a, #d32563);
}
/*Prueba*/
.mask-btn {
  background: var(--bg-gradient);
  background-size: 100% 100%;
  background-attachment: local;
}
.mask-btn:nth-child(1) {
  background-position: 0% 0%;
}
.mask-btn:nth-child(2) {
  background-position: 20% 0%;
}
.mask-btn:nth-child(3) {
  background-position: 40% 0%;
}

/*Botones Links*/
a.lb {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a.lb:hover {
  color: #d32563;
  text-decoration: none;
}
a.li {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a.li:hover {
  color: #d32563;
  text-decoration: none;
}
