/*Boton de Sobre Mi*/
.seccion-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.seccion-botones div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.seccion-botones div a {
  color: black;
  background-color: white;
  width: 100%;
  max-width: 200px;
  text-align: center;
  border-radius: 100px;
  font-family: "f-bebas";
  font-size: 2rem;
  padding: 5px 12px;
  text-decoration: none;
}
.seccion-botones div a:hover {
  font-size: 32px;
  background-color: #f3d7ba;
  transition:
    font-size 0.3s ease,
    background-color 0.5s;
}
