/*Boton de Menu*/
.seccion-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.seccion-botones div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.seccion-botones div a {
  color: black;
  background-color: white;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 100px;
  font-family: "f-bebas";
  font-size: 3rem;
  padding: 5px 24px;
  text-decoration: none;
  transition:
    font-size 0.3s ease,
    background-color 0.5s;
}
.seccion-botones div a:hover {
  font-size: 3.2rem;
  background-color: #f3d7ba;
}

/*Botones Links*/
a.lb {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a.lb:hover {
  color: #f3d7ba;
  text-decoration: none;
}
a.li {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a.li:hover {
  color: #f3d7ba;
  text-decoration: none;
}
