/*Imagenes*/
.imagen-contenedor {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imagen-contenedor img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  display: block;
}

.portada-imagen {
  width: 100%;
  max-height: 400px !important;
}
