.Hero {
  font-size: 4rem;
}

.Emphasis {
  font-size: 2rem;
}

.titulos {
  font-size: 1.5rem;
}

.parrafo {
  font-size: 1rem;
}

/*Texto dentro de imagen*/
.texto-encima {
  position: absolute;
  color: black;
  text-align: center;
  font-size: 0.75rem;
  transition: font-size 0.1s ease;
}
.texto-encima.dg1 {
  bottom: 30px;
  left: 20px;
}
.texto-encima.dg2 {
  font-size: 0.875rem;
  bottom: 50px;
  left: 20px;
}
.texto-encima.dg3 {
  font-size: 0.875rem;
  bottom: 20px;
  right: 20px;
}
.texto-encima.dg3:hover {
  font-size: 0.9375rem;
}
.texto-encima.dg4 {
  font-size: 0.875rem;
  bottom: 50px;
  right: 20px;
  transition: font-size 0.1s ease;
}
.texto-encima.dg4:hover {
  font-size: 0.9375rem;
  transition: font-size 0.1s ease;
}

/*About Me*/
.infop {
  flex-direction: column;
}
.stitulos {
  color: white;
  font-family: "f-bebas";
  font-size: 7.25rem;
  align-items: center;
  line-height: 0.8;
  width: min-content;
}
.infopp {
  color: white;
  font-family: "f-archive";
  font-size: 0.95rem;
  width: 100%;
  max-width: 500px;
  align-items: center;
}

/*Codigo de Titulos*/
.titulo {
  background-color: black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.titulo h3 {
  color: white;
  font-size: 8.75rem;
  font-family: "f-bebas";
}
.titulo h3::after {
  content: ".";
  font-size: 6.75rem;
  margin-left: 5px;
}

/*Titulo de Gracias*/
.titulof {
  background-color: black;
  color: white;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.titulof h3 {
  font-family: "f-bebas";
  height: 70px;
  font-size: 6rem;
}
.titulof p {
  font-family: "f-bebas";
  font-size: 3rem;
}

/*Seccion de Contactos*/
