* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "f-archive", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/*Font de Archive Para Info*/
@font-face {
  font-family: "f-archive";
  src: url("fonts/Archivo-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Font de Bebas Neue Para Titulos*/
@font-face {
  font-family: "f-bebas";
  src: url("fonts/bebasneue/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Inicio de Perfil Profesional*/
.perfil-profesional {
  background-color: black;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 8%;
  gap: 10px;
}

/*Seccion de Contactos*/
