* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "f-archive", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  /* Definimos el degradado una sola vez para que sea fácil de cambiar*/
  --bg-gradient: linear-gradient(135deg, #f8d877, #eb9c70, #df636a, #d32563);
}

/*Font de Archive Para Info*/
@font-face {
  font-family: "f-archive";
  src: url("fonts/Archivo-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Font de Bebas Neue Para Titulos*/
@font-face {
  font-family: "f-bebas";
  src: url("fonts/bebasneue/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Inicio de Perfil Profesional*/
.perfil-profesional {
  background-color: black;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 8%;
  gap: 10px;
}

/*Seccion de Contactos*/
div.contacto {
  background: black;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 8%;
  gap: 10px;
}

div.contacto div.iconos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

div.contacto div.iconos svg {
  fill: white;
  text-decoration: none;
}

div.contacto div.texto,
div.contacto div.firma {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

div.contacto div.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.contacto div.logo svg {
  width: 100px;
  height: 100px;
  fill: white;
}
